.deviceList {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 50px;
}

.registerButton {
    border-radius: var(--space-16);
    padding: var(--space-8) var(--space-16);
    border-color: var(--text-muted);
}
