.heading {
    background-color: aquamarine; // This is now only applied to the CSSModulesExample component but not the 404 component
    text-align: center;
}

.paragraph {
    text-align: center;
}
