@use "../Connection.module.scss" as connection;

.lanPeersContainer {
    @include connection.container;

    background-color: var(--primary-5);

    > .heading {
        color: var(--primary);
        fill: var(--primary);
    }
}

.peerList {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);

    flex: 1;
    margin: var(--space-16) 0;
    overflow-y: auto;
}

.searchState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-16);

    flex: 1;
    margin: var(--space-16) 0;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 var(--primary-40);
    }

    to {
        box-shadow: 0 0 0 var(--space-24) transparent;
    }
}

.pulse {
    height: var(--space-24);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary);
    animation: pulse 1.5s ease-out infinite;
}
