.sidebar {
    width: 320px;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #EBEBEB;
    padding: 1rem;
    height: 100vh;
    color: #232323;

    .sidebar-header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
        margin-bottom: 1rem;
        min-height: 40px;
        
        h2 {
            margin: 0;
            font-size: 28px;
            font-weight: normal;
        }
        
        button {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
            font-weight: bold;
        }
    }

    .logo {
        align-self: center;
        margin-top: auto;
    }
}

.sidebar.collapsed {
    width: 80px;
    min-width: 80px;
    overflow: hidden;

    .sidebar-header {
        h2 {
            display: none;
        }

        button {
            right: unset;
        }
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 20px;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
            margin-bottom: 1rem;
            padding: 1rem;
            border-radius: 8px;
            border: 1px solid #ccc;
            width: 100%;
            font-size: 20px;
            color: #232323;
        }

        ::placeholder {
            color: #AAAAAA;
        }

        button {
            padding: 1rem;
            border-radius: 8px;
            border: none;
            background-color: #444444;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 25px;
            margin-bottom: 5px;

            &:hover {
                background-color: #333;
            }
        }
    }

    p {
        margin: 0;
        color: #444444;
    }

    button {
        text-decoration: underline;
    }
}