@use "../Connection.module.scss" as connection;

.ownTokenContainer {
    @include connection.container;

    border-color: var(--secondary);

    > .heading {
        color: var(--secondary);
        fill: var(--secondary);
    }
}

.tokenBox {
    @include connection.containerBorder;

    text-align: center;
}

.token {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-4xl);
    font-family: "Roboto Mono";
    letter-spacing: 0.25em;
}

.openGroupRoomButton {
    width: 100%;
}

.copyButtons {
    display: flex;
    gap: var(--space-8);

    margin-top: var(--space-8);

    > * {
        flex: 1;
    }
}
