.devicesInfo {
    width: 100%;
    margin-bottom: var(--space-40);
}

.loggedIn {
    margin-bottom: var(--space-16);
}

.notLoggedIn {
    margin-left: var(--space-16);
}

.icon {
    height: calc(var(--font-size-s) * var(--line-height-s));
    margin-left: var(--space-4);
    vertical-align: top;
}
