.container {
    margin-top: var(--space-96);

    text-align: center;

    h1 {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-xl);
        font-weight: var(--font-weight-medium);
    }

    p {
        margin: auto;
        max-width: 380px;
        margin-top: var(--space-24);
        color: var(--text-muted);
        font-weight: var(--font-weight-regular);
    }
}
