.container {
    margin-top: var(--space-96);

    text-align: center;

    > svg {
        max-width: 650px;
    }

    > h1 {
        font-size: var(--font-size-2xl);
        line-height: var(--line-height-2xl);
        font-weight: var(--font-weight-medium);
        letter-spacing: -0.03em; // 3 %
        margin-top: var(--space-40);
    }

    > p {
        margin-top: var(--space-24) !important;
        max-width: 380px;
    }

    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        --size: 900px;
        width: var(--size);
        height: var(--size);

        background: radial-gradient(
            circle,
            var(--primary-10) 20%,
            transparent 70%
        );

        z-index: -1;
        pointer-events: none;
    }
}

.actions {
    margin-top: var(--space-40);
    display: flex;
    justify-content: center;
    gap: var(--space-16);
    flex-wrap: wrap;
}
