.header {
    width: 100%;

    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;

    border-bottom: 1px solid oklch(from var(--text) l c h / var(--a-10));
    background-color: var(--background);
    box-shadow: 0 4px 10px 2px var(--shadow);

    padding: 0 var(--space-24);
}

.headerContent {
    max-width: 1072px;
    margin: auto;
    padding: var(--space-16) 0;

    position: relative;
}

.navigation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: var(--space-24);

    a {
        display: inline-flex;
        align-items: center;
        flex-direction: column;

        font-weight: var(--font-weight-regular);
        color: var(--text-muted);

        text-underline-position: under;

        &:hover:not(:global(.active)) {
            text-decoration: underline;
        }

        &:global(.active) {
            font-weight: var(--font-weight-medium);
            color: var(--text);
        }
    }

    a::before {
        content: attr(data-text);
        font-weight: 500;
        pointer-events: none;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
