@use "../../../../theme/shadows.scss" as *;

.deviceDisplay {
    display: flex;
    gap: var(--space-4);
    align-items: center;

    padding: var(--space-8) var(--space-8) var(--space-8) var(--space-12);
    background-color: var(--secondary-10);
    color: var(--secondary);
    border: 1px solid var(--border);
    border-radius: var(--space-16);

    text-wrap: nowrap;

    transition:
        transform 0.15s ease-out,
        box-shadow 0.15s ease-out,
        background-color 0.15s ease-out,
        border-color 0.15s ease-out;

    &:hover:not([aria-disabled="true"]) {
        transform: translateY(-2px);
        background-color: var(--secondary-20);
        border-color: var(--secondary-40);

        @include elevated-shadow-no-highlight;
    }

    &:active:not([aria-disabled="true"]) {
        transform: translateY(0);
        background-color: var(--secondary-30);
    }

    &[aria-disabled="true"] {
        cursor: not-allowed !important;
        opacity: 0.6;
    }
}

.statusIndicator {
    height: var(--space-16);
    aspect-ratio: 1;
    border-radius: 50%;

    transition: box-shadow 0.15s ease-out;
}

.deviceDisplay:hover:not([aria-disabled="true"]) .deviceOnline {
    box-shadow: 0 0 0 var(--space-4) var(--success-20);
}

.deviceOnline {
    background-color: var(--success);
}

.deviceOffline {
    background-color: var(--error);
}

.deviceBusy {
    background-color: var(--warning);
}

.deleteButton {
    padding: var(--space-4);
    border-radius: var(--space-8);
}

.renameButton {
    padding: var(--space-4);
    border-radius: var(--space-8);
}

.nameInput {
    width: 12ch;
    padding: 0 var(--space-4);
    background-color: var(--text-muted-5);
    color: var(--text);
    border: none;
    border-bottom: 1px solid var(--text-muted);
    border-radius: var(--space-4);

    font-size: inherit;
    font-family: inherit;
}
