.noUnderline {
    text-decoration: none;
}

.dashedUnderline {
    text-decoration: dashed underline;
    text-underline-position: under;
}

.solidUnderline {
    text-decoration: underline;
    text-underline-position: under;
}
