.sharingHeader {
    margin: var(--space-40) 0 var(--space-16);
    display: flex;
    justify-content: space-between;
}

.uploadButtons {
    display: flex;
    gap: var(--space-8);
}

.fileButton {
    .fileIconContainer {
        position: relative;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fileIcon1,
    .fileIcon2,
    .fileIcon3 {
        position: absolute;
        transition: all 0.3s ease;
        --fill-0: var(--background);
        --fill-1: var(--primary);
    }

    .fileIcon1 {
        transform: translate(0, 0) rotate(0deg);
        z-index: 3;
    }

    .fileIcon2 {
        transform: translate(0, 0) rotate(0deg);
        z-index: 2;
    }

    .fileIcon3 {
        transform: translate(0, 0) rotate(0deg);
        z-index: 1;
    }

    &:hover {
        .fileIcon1 {
            transform: translate(-20px, 2px) rotate(-10deg);
        }

        .fileIcon2 {
            transform: translate(0, 0) rotate(0deg);
        }

        .fileIcon3 {
            transform: translate(20px, 2px) rotate(10deg);
        }
    }
}

.folderButton {
    .folderIconContainer {
        position: relative;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 100px;
    }

    .folderClosed,
    .folderOpen {
        position: absolute;
        max-width: 24px;
        max-height: 24px;
        color: var(--primary);
    }

    .folderClosed {
        opacity: 1;
        transform: translateY(0) rotateX(0deg);
        transition:
            opacity 0.2s ease,
            transform 0.3s ease;
    }

    .folderOpen {
        opacity: 0;
        transform: translateY(-3px) rotateX(-15deg);
        transition:
            opacity 0.2s ease 0.1s,
            transform 0.3s ease;
    }

    &:hover {
        .folderClosed {
            opacity: 0;
            transform: translateY(3px) rotateX(15deg);
            transition:
                opacity 0.2s ease,
                transform 0.3s ease;
        }

        .folderOpen {
            opacity: 1;
            transform: translateY(0) rotateX(0deg);
            transition:
                opacity 0.2s ease 0.1s,
                transform 0.3s ease;
        }
    }
}

.informationTopRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.remoteToken {
    color: var(--accent);
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    thead {
        background-color: var(--secondary-70);

        th {
            padding: var(--space-8) var(--space-16);
            text-align: left;
            font-weight: var(--font-weight-medium);

            border-top: 1px solid var(--border);
            border-bottom: 1px solid var(--border);

            &:first-child {
                width: 100%;
                border-top-left-radius: var(--space-16);
                border-bottom-left-radius: var(--space-16);
                border-left: 1px solid var(--border);
            }

            &:last-child {
                border-top-right-radius: var(--space-16);
                border-bottom-right-radius: var(--space-16);
                border-right: 1px solid var(--border);
            }
        }
    }

    tbody {
        tr {
            color: var(--text-muted);
            font-weight: var(--font-weight-regular);

            &:hover {
                background-color: var(--secondary-20);
                font-weight: var(--font-weight-medium);
                color: var(--text);
            }

            td {
                padding: var(--space-8) var(--space-16);
                text-wrap: nowrap;

                border-bottom: 1px solid var(--border);
            }

            &:last-child {
                td {
                    &:first-child {
                        border-bottom-left-radius: var(--space-16);
                    }

                    &:last-child {
                        border-bottom-right-radius: var(--space-16);
                    }
                }
            }
        }
    }
}
