.sharingContainer {
    position: relative;
    height: 100%;
}

.sharingHeader {
    margin: var(--space-40) 0 var(--space-16);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    --gap: var(--space-8);
    gap: var(--gap);
}

.uploadButtons {
    display: flex;
    gap: var(--gap);
}

.fileButton {
    .fileIconContainer {
        position: relative;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fileIcon1,
    .fileIcon2,
    .fileIcon3 {
        position: absolute;
        transition: all 0.3s ease;
        --fill-0: var(--background);
        --fill-1: var(--primary);
    }

    .fileIcon1 {
        transform: translate(0, 0) rotate(0deg);
        z-index: 3;
    }

    .fileIcon2 {
        transform: translate(0, 0) rotate(0deg);
        z-index: 2;
    }

    .fileIcon3 {
        transform: translate(0, 0) rotate(0deg);
        z-index: 1;
    }

    &:hover {
        .fileIcon1 {
            transform: translate(-20px, 2px) rotate(-10deg);
        }

        .fileIcon2 {
            transform: translate(0, 0) rotate(0deg);
        }

        .fileIcon3 {
            transform: translate(20px, 2px) rotate(10deg);
        }
    }
}

.folderButton {
    .folderIconContainer {
        position: relative;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 100px;
    }

    .folderClosed,
    .folderOpen {
        position: absolute;
        max-width: 24px;
        max-height: 24px;
        color: var(--primary);
    }

    .folderClosed {
        opacity: 1;
        transform: translateY(0) rotateX(0deg);
        transition:
            opacity 0.2s ease,
            transform 0.3s ease;
    }

    .folderOpen {
        opacity: 0;
        transform: translateY(-3px) rotateX(-15deg);
        transition:
            opacity 0.2s ease 0.1s,
            transform 0.3s ease;
    }

    &:hover {
        .folderClosed {
            opacity: 0;
            transform: translateY(3px) rotateX(15deg);
            transition:
                opacity 0.2s ease,
                transform 0.3s ease;
        }

        .folderOpen {
            opacity: 1;
            transform: translateY(0) rotateX(0deg);
            transition:
                opacity 0.2s ease 0.1s,
                transform 0.3s ease;
        }
    }
}

.informationTopRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.remoteToken {
    color: var(--accent);
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    display: block;

    thead {
        display: block;
        width: 100%;

        background-color: var(--secondary-70);
        border-radius: var(--space-16);
        border: 1px solid var(--border);

        tr {
            display: grid;
            grid-template-columns: 1fr 250px 100px calc(125px + 13px); // 13px for scrollbar
        }

        th {
            padding: var(--space-8) var(--space-16);
            text-align: left;
            font-weight: var(--font-weight-medium);
        }
    }

    tbody {
        display: block;
        max-height: calc(
            100vh - 78px - 305px - 122px - 40px - 2px
        ); // Header, Footer, SharingHeader, TableHeader, ?Margins/Border?
        overflow-y: auto;
        scrollbar-gutter: stable;

        tr {
            display: grid;
            grid-template-columns: 1fr 250px 100px 125px;
        }
    }
}

.dropArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    pointer-events: none;

    z-index: -1;
}

.dragDropIcon {
    width: 100%;
    fill: var(--text-muted-10);
}

.dropAreaMessage {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
    text-align: center;
    color: var(--text-muted-10);
    font-weight: var(--font-weight-bold);
}
