.footer {
    width: 100%;
    margin-top: var(--space-96);

    max-width: 1072px;
    margin-left: auto;
    margin-right: auto;
    padding: var(--space-16) 0 var(--space-16) var(--space-64);

    display: grid;
    grid-template-columns: 1.25fr repeat(3, 1fr);
    gap: var(--space-24);

    // 200 (basis) * 4 + 24 (gap) * 3 + 64 (padding) + 9 (scrollbar)
    @media (max-width: 945px) {
        grid-template-columns: repeat(2, 1fr);
    }

    // 200 (basis) * 2 + 24 (gap) + 64 (padding) + 9 (scrollbar)
    @media (max-width: 497px) {
        grid-template-columns: 1fr;
    }

    ul {
        padding-left: 0;
    }

    li {
        font-weight: var(--font-weight-regular);

        &::marker {
            font-size: 0.75em;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    align-items: flex-start;

    > :first-child {
        height: 45px;
    }
}

.version {
    font-weight: var(--font-weight-regular);
    color: var(--text-muted);
}

.socials {
    list-style-type: none;
}

.iconLink {
    display: inline-flex;
    gap: var(--space-4);

    > svg {
        height: calc(var(--font-size-s) * var(--line-height-s));
    }
}

.heading {
    display: flex;
    align-items: flex-end;
}
