.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: 100%;

    padding-top: 50px;
    padding-bottom: 100px;
}

.logo {
    height: 150px;
}

.own-token-container {
    --token-height: 8rem;
    --border_width: 5px;

    border-radius: 50px;
    border: var(--border_width) solid black;
    position: relative;
    text-align: center;

    padding: 20px 30px;

    cursor: not-allowed;

    &.token-loaded {
        cursor: pointer;
    }

    &.token-loaded:hover .token {
        filter: blur(5px);
        opacity: 0.3;
    }
}

.tooltip {
    --line_height: 30px;

    position: absolute;
    top: calc(0px - var(--line_height) / 2 - var(--border_width) / 2);
    left: 50px;

    background-color: var(--white);
    color: black;

    padding: 0 5px;

    font-size: 1.8rem;
    line-height: var(--line_height);
    font-weight: bold;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
    10%,
    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
}

.token {
    color: black;
    font-size: var(--token-height);
    font-weight: bold;

    --spacing: 1.5rem;
    letter-spacing: var(--spacing);
    margin-right: calc(var(--spacing) * -1);

    font-family: "Roboto Mono";
}

.tokenOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tokenOverlayIcon {
    height: var(--token-height);
}

.token {
    transition:
        filter 0.2s ease,
        opacity 0.2s ease;
}

.peer-token-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.connectButton {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--black);

    border-radius: 15px;

    font-size: 3rem;
    font-weight: bold;

    &:hover {
        background-color: black;
    }
}

.connectButtonIcon {
    height: 50%;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.slots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.otp-slot {
    width: 50px;
    height: 80px;

    border: 3px solid var(--black);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.otpSlotActive {
    border-color: var(--black);
    box-shadow: 0 0 6px 4px var(--shadow);
}

.otpSlotCaret {
    width: 2px;
    height: 32px;
    background-color: var(--black);
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.quickLinks {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;

    top: 30px;
    right: 30px;

    height: 65px;
    width: 200px;

    gap: 15px;
}

.quickLinkAnchor {
    height: 100%;
    aspect-ratio: 1;

    > img {
        height: 100%;
        width: 100%;
    }

    &:hover .quickLinkIconHover {
        display: block;
    }

    &:hover .quickLinkIcon {
        display: none;
    }

    .quickLinkIconHover {
        display: none;
    }
}
