.form {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}

.title {
    font-size: var(--font-size-l);
    view-transition-name: auth-title;
}

.buttonContainer {
    display: flex;
    gap: var(--space-16);

    > .primaryButton {
        flex: 1;
    }

    @media (prefers-reduced-motion: no-preference) {
        > :first-child {
            view-transition-name: left-button;
        }

        > :last-child {
            view-transition-name: right-button;
        }
    }
}
