@use "theme/reset.scss";
@use "theme/colors.scss";
@use "theme/spacing.scss";
@use "theme/typography.scss";
@import "theme/tooltip.scss";

html {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--background);
    color: var(--text);
    fill: var(--text); // SVG fill color

    --shadow-rgb: 39, 39, 42;
    --shadow: rgba(var(--shadow-rgb), 0.1);

    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    font-weight: var(--font-weight-medium);
}
