@use "theme/reset.scss";
@use "theme/colors.scss";
@use "theme/spacing.scss";
@use "theme/typography.scss";
@use "theme/tooltip.scss";
@use "theme/shadows.scss";
@use "react-toastify/dist/ReactToastify.css";
@use "theme/toastify-styles.scss";

html {
    scrollbar-width: thin;
    scrollbar-color: var(--text-muted) var(--background);
    scrollbar-gutter: stable;

    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text);
    fill: var(--text); // SVG fill color

    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    font-weight: var(--font-weight-medium);
}

html,
body,
#root {
    height: 100%;
}

*:focus-visible {
    outline: 4px solid var(--light-blue);
    outline-offset: 2px;
}
