* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"); // Import for Source Sans 3

body {
    margin: 0;
    height: 100%;

    --black: #444;
    --white: #fff;

    background-color: var(--white);
    color: var(--black);
    background-color: var(--white);
    color: var(--black);

    font-family: "Source Sans 3", sans-serif;

    fill: var(--black); // SVG fill color
}

#root {
    height: 100%;
}

a,
button {
    all: unset;
    outline: revert; /* Enables accessibility outline */
    cursor: pointer;
}

button {
    user-select: none;

    &:focus-visible {
        outline: 4px solid var(--light-blue);
        outline-offset: 1px;
    }
}

a {
    user-select: text;
}

img {
    pointer-events: none; /* Disables dragging */
}
