.container {
    :global {
        .text-highlight {
            color: var(--secondary);
            text-decoration: underline;
            text-decoration-color: var(--text);
            text-underline-position: under;
        }
    }

    h2 {
        font-size: var(--font-size-l);
        line-height: var(--line-height-l);
        font-weight: var(--font-weight-medium);
        text-align: center;
        margin-top: var(--space-96);
    }
}
