.container {
    margin: 0 var(--space-64);

    :global {
        .text-highlight {
            color: var(--secondary);
            text-decoration: underline;
            text-decoration-color: var(--text);
            text-underline-position: under;
        }

        .text-muted {
            color: var(--text-muted);
            font-weight: var(--font-weight-regular);
            text-align: center;
            margin-top: var(--space-16);
        }
    }

    h2 {
        font-size: var(--font-size-m);
        line-height: var(--line-height-m);
        font-weight: var(--font-weight-medium);
        text-align: center;
        margin-top: var(--space-96);
    }
}
