@mixin neutral {
    --grey-0: #f8f9faff;
    --grey-1: #e9ecefff;
    --grey-2: #dee2e6ff;
    --grey-3: #ced4daff;
    --grey-4: #adb5bdff;
    --grey-5: #6c757d;
    --grey-6: #495057ff;
    --grey-7: #343a40ff;
    --grey-8: #212529ff;
    --black: #101016;
    --white: #fff9fb;

    --info: oklch(65.31% 0.13477 242.711);
    --info-dark: oklch(57.586% 0.11907 242.306);
    --success: oklch(74.67% 0.18174 147.88);
    --success-dark: oklch(50.114% 0.13772 145.411);
    --warning: oklch(83.579% 0.1689 91.772);
    --warning-dark: oklch(76.251% 0.15706 82.014);
    --error: oklch(63.066% 0.194 29.425);
    --error-dark: oklch(54.333% 0.174 29.681);
}

@mixin alpha {
    --a-5: 0.05;
    --a-10: 0.1;
    --a-20: 0.2;
    --a-30: 0.3;
    --a-40: 0.4;
    --a-50: 0.5;
    --a-60: 0.6;
    --a-70: 0.7;
    --a-80: 0.8;
    --a-90: 0.9;
    --a-95: 0.95;
}

@mixin light {
    --text: oklch(20.412% 0.02397 262.275);
    --text-muted: oklch(40% 0.02397 262.275);
    --background: oklch(95.88% 0.00869 248.206);
    --primary: oklch(34.451% 0.06783 259.35);
    --secondary: oklch(69.534% 0.08992 259.834);
    --accent: oklch(55.096% 0.22192 26.644);
    --border: rgba(0, 0, 0, var(--a-5));
    --highlight: rgba(255, 255, 255, var(--a-20));
    --shadow: rgba(0, 0, 0, var(--a-5));
}

@mixin dark {
    --text: oklch(91.449% 0.01641 262.811);
    --text-muted: oklch(70% 0.01641 262.811);
    --background: oklch(15.612% 0.01356 248.081);
    --primary: oklch(71.262% 0.1228 256.909);
    --secondary: oklch(41.993% 0.10033 259.59);
    --accent: oklch(63.237% 0.23507 23.024);
    --border: rgba(255, 255, 255, var(--a-5));
    --highlight: rgba(255, 255, 255, var(--a-5));
    --shadow: rgba(0, 0, 0, var(--a-20));
}

@mixin shades {
    --primary-5: oklch(from var(--primary) l c h / var(--a-5));
    --primary-10: oklch(from var(--primary) l c h / var(--a-10));
    --primary-20: oklch(from var(--primary) l c h / var(--a-20));
    --primary-30: oklch(from var(--primary) l c h / var(--a-30));
    --primary-40: oklch(from var(--primary) l c h / var(--a-40));
    --primary-50: oklch(from var(--primary) l c h / var(--a-50));
    --primary-60: oklch(from var(--primary) l c h / var(--a-60));
    --primary-70: oklch(from var(--primary) l c h / var(--a-70));
    --primary-80: oklch(from var(--primary) l c h / var(--a-80));
    --primary-90: oklch(from var(--primary) l c h / var(--a-90));
    --primary-95: oklch(from var(--primary) l c h / var(--a-95));

    --secondary-5: oklch(from var(--secondary) l c h / var(--a-5));
    --secondary-10: oklch(from var(--secondary) l c h / var(--a-10));
    --secondary-20: oklch(from var(--secondary) l c h / var(--a-20));
    --secondary-30: oklch(from var(--secondary) l c h / var(--a-30));
    --secondary-40: oklch(from var(--secondary) l c h / var(--a-40));
    --secondary-50: oklch(from var(--secondary) l c h / var(--a-50));
    --secondary-60: oklch(from var(--secondary) l c h / var(--a-60));
    --secondary-70: oklch(from var(--secondary) l c h / var(--a-70));
    --secondary-80: oklch(from var(--secondary) l c h / var(--a-80));
    --secondary-90: oklch(from var(--secondary) l c h / var(--a-90));
    --secondary-95: oklch(from var(--secondary) l c h / var(--a-95));
}

html {
    @include neutral();
    @include alpha();
    @include shades();
}

[data-theme="dark"] {
    @include dark();
}

[data-theme="light"] {
    @include light();
}
