@mixin neutral {
    --grey-0: #f8f9faff;
    --grey-1: #e9ecefff;
    --grey-2: #dee2e6ff;
    --grey-3: #ced4daff;
    --grey-4: #adb5bdff;
    --grey-5: #6c757d;
    --grey-6: #495057ff;
    --grey-7: #343a40ff;
    --grey-8: #212529ff;
    --black: #101016;
    --white: #fff9fb;

    --info: oklch(65.31% 0.13477 242.711);
    --info-dark: oklch(57.586% 0.11907 242.306);
    --success: oklch(74.67% 0.18174 147.88);
    --success-dark: oklch(50.114% 0.13772 145.411);
    --warning: oklch(83.579% 0.1689 91.772);
    --warning-dark: oklch(76.251% 0.15706 82.014);
    --error: oklch(63.066% 0.194 29.425);
    --error-dark: oklch(54.333% 0.174 29.681);
}

@mixin alpha {
    --a-5: 0.05;
    --a-10: 0.1;
    --a-20: 0.2;
    --a-30: 0.3;
    --a-40: 0.4;
    --a-50: 0.5;
    --a-60: 0.6;
    --a-70: 0.7;
    --a-80: 0.8;
    --a-90: 0.9;
    --a-95: 0.95;
}

@mixin light {
    --text: oklch(20.412% 0.02397 262.275);
    --text-muted: oklch(40% 0.02397 262.275);
    --background: #edf2f7;
    --primary: #23395c;
    --secondary: #7c9ed5;
    --accent: #d5071b;
    --border: rgba(0, 0, 0, var(--a-5));
    --highlight: rgba(255, 255, 255, var(--a-20));
    --shadow: rgba(0, 0, 0, var(--a-5));
}

@mixin dark {
    --text: oklch(91.449% 0.01641 262.811);
    --text-muted: oklch(70% 0.01641 262.811);
    --background: #080d12;
    --primary: #6fa4ee;
    --secondary: #2a4c83;
    --accent: #f82a3f;
    --border: rgba(255, 255, 255, var(--a-5));
    --highlight: rgba(255, 255, 255, var(--a-5));
    --shadow: rgba(0, 0, 0, var(--a-20));
}

body {
    @include neutral();
    @include alpha();

    &:not(.dark) {
        @include light();
    }

    &.dark {
        @include dark();
    }
}
