*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

a,
button {
    all: unset;
    box-sizing: border-box;
    outline: revert; /* Enables accessibility outline */
    cursor: pointer;
}

button {
    user-select: none;
}

a {
    user-select: text;
}

img {
    user-select: none;
    pointer-events: none; /* Disables dragging */
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
