body {
    --space-2: 2px; // avoid
    --space-4: 4px;
    --space-8: 8px;
    --space-16: 16px;
    --space-24: 24px;
    --space-40: 40px;
    --space-64: 64px;
    --space-96: 96px;
    --space-160: 160px;
    --space-240: 240px;
}
