body {
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-28: 24px;
    --space-40: 40px;
    --space-60: 60px;
    --space-100: 100px;
    --space-160: 160px;
    --space-240: 240px;
}
