.tooltip-on-hover {
    position: relative;

    &:hover {
        .tooltip {
            opacity: 1;
            scale: 1;
        }
    }
}

.tooltip {
    pointer-events: none;

    background-color: var(--background);
    background-image: linear-gradient(var(--text-muted-10));
    padding: var(--space-4) var(--space-12);
    border-radius: var(--space-4);
    border: 1px solid var(--border);

    z-index: 999;
    position: absolute;

    opacity: 0;
    scale: 0.9;

    transition:
        opacity 0.1s,
        scale 0.1s;

    &.bottom {
        top: calc(100% + 5px);
        left: 50%;
        translate: -50%;

        &.with-arrow::after {
            border-color: transparent transparent var(--background) transparent;
            margin-left: -5px;
            bottom: 100%;
            left: 50%;
        }
    }

    &.top {
        bottom: calc(100% + 5px);
        left: 50%;
        translate: -50%;

        &.with-arrow::after {
            border-color: var(--background) transparent transparent transparent;
            margin-left: -5px;
            top: 100%;
            left: 50%;
        }
    }

    &.right {
        left: calc(100% + 5px);
        top: 50%;
        translate: 0 -50%;

        &.with-arrow::after {
            border-color: transparent var(--background) transparent transparent;
            margin-top: -5px;
            top: 50%;
            right: 100%;
        }
    }

    &.left {
        right: calc(100% + 5px);
        top: 50%;
        translate: 0 -50%;

        &.with-arrow::after {
            border-color: transparent transparent transparent var(--background);
            margin-top: -5px;
            top: 50%;
            left: 100%;
        }
    }

    text-wrap: nowrap;

    &.with-arrow::after {
        content: " ";
        position: absolute;
        border-width: 5px;
        border-style: solid;
    }
}
