@font-face {
    font-family: "Roboto Mono";
    src: url(assets/Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(assets/Fonts/Jost/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Atma";
    font-weight: 300;
    src: url(assets/Fonts/Atma/Atma-Light.ttf);
}

@font-face {
    font-family: "Atma";
    font-weight: 400;
    src: url(assets/Fonts/Atma/Atma-Regular.ttf);
}

@font-face {
    font-family: "Atma";
    font-weight: 500;
    src: url(assets/Fonts/Atma/Atma-Medium.ttf);
}

@font-face {
    font-family: "Atma";
    font-weight: 600;
    src: url(assets/Fonts/Atma/Atma-SemiBold.ttf);
}

@font-face {
    font-family: "Atma";
    font-weight: 700;
    src: url(assets/Fonts/Atma/Atma-Bold.ttf);
}

@mixin sizes {
    --font-size-xxs: 0.75rem; // 12px
    --font-size-xs: 0.875rem; // 14px
    --font-size-s: 1rem; // 16px
    --font-size-m: 1.25rem; // 20px
    --font-size-l: 1.5rem; // 24px
    --font-size-xl: 2rem; // 32px
    --font-size-2xl: 2.5rem; // 40px
    --font-size-3xl: 3rem; // 48px
    --font-size-4xl: 3.5rem; // 56px

    --line-height-xxs: 1.333; // 16px / 12px = 1.333
    --line-height-xs: 1.143; // 16px / 14px = 1.143
    --line-height-s: 1.5; // 24px / 16px = 1.5
    --line-height-m: 1.6; // 32px / 20px = 1.6
    --line-height-l: 1.333; // 32px / 24px = 1.333
    --line-height-xl: 1.25; // 40px / 32px = 1.25
    --line-height-2xl: 1.2; // 48px / 40px = 1.2
    --line-height-3xl: 1.167; // 56px / 48px = 1.167
    --line-height-4xl: 1.143; // 64px / 56px = 1.143

    @media (max-width: 450px) {
        --font-size-2xl: var(--font-size-l);
    }
}

@mixin weights {
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
}

.text-xxs {
    font-size: var(--text-xxs-size);
    line-height: var(--text-xxs-line);
}
.text-xs {
    font-size: var(--text-xs-size);
    line-height: var(--text-xs-line);
}
.text-s {
    font-size: var(--text-s-size);
    line-height: var(--text-s-line);
}
.text-m {
    font-size: var(--text-m-size);
    line-height: var(--text-m-line);
}
.text-l {
    font-size: var(--text-l-size);
    line-height: var(--text-l-line);
}
.text-xl {
    font-size: var(--text-xl-size);
    line-height: var(--text-xl-line);
}
.text-2xl {
    font-size: var(--text-2xl-size);
    line-height: var(--text-2xl-line);
}

html {
    @include sizes();
    @include weights();

    font-family: "Jost", sans-serif;
}
